ims-intfsh/src/main/resources/wsdl/universeplatform.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.integration.ecpay.ailk.com" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://soap.integration.ecpay.ailk.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.integration.ecpay.ailk.com">
<xsd:element name="service">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="serviceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="serviceRequest">
    <wsdl:part name="parameters" element="tns:service">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="serviceResponse">
    <wsdl:part name="parameters" element="tns:serviceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IServiceMgmtSoapServicePortType">
    <wsdl:operation name="service">
      <wsdl:input name="serviceRequest" message="tns:serviceRequest">
    </wsdl:input>
      <wsdl:output name="serviceResponse" message="tns:serviceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IServiceMgmtSoapServiceHttpBinding" type="tns:IServiceMgmtSoapServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="service">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="serviceRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="serviceResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServiceMgmtSoapService">
    <wsdl:port name="IServiceMgmtSoapServiceHttpPort" binding="tns:IServiceMgmtSoapServiceHttpBinding">
      <wsdlsoap:address location="http://10.10.142.213:18082/ECPayKernel/services/IServiceMgmtSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
